body {font-family: Georgia; background-color: rgb(6, 7, 7); color: whitesmoke;}

a:link {
    color: whitesmoke;
  }
a:visited {
    color:aliceblue;
}

.ul{list-style-type:none;padding:0;margin:0}.ul li{padding:8px 16px;border-bottom:5px}.ul li:last-child{border-bottom:none}

