body {font-family: Georgia; background-color: rgb(17, 28, 37); color: rgb(255, 253, 247);}

a:link {
    color: rgb(255, 252, 250);
  }
a:visited {
    color:aliceblue;
}

.ul{list-style-type:none;padding:0;margin:0}.ul li{padding:8px 16px;border-bottom:5px}.ul li:last-child{border-bottom:none}

